.button {
  background-color: #00ffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}
